[bumpversion]
current_version = 0.1.8
commit = True
tag = True

[bumpversion:file:PySetWacom/__init__.py]

search = : str = "{current_version}"
replace = : str = "{new_version}"

[bumpversion:file:README.rst]

[bumpversion:file:doc-source/index.rst]

[bumpversion:file:repo_helper.yml]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:file:setup.py]
search = create_dotdesktop("{current_version}")
replace = create_dotdesktop("{new_version}")
