include __pkginfo__.py
include LICENSE
include requirements.txt
recursive-exclude **/__pycache__ *
include create_dotdesktop.py
recursive-include PySetWacom/ *.pyi
recursive-include PySetWacom/ py.typed
