[Desktop Entry]
Version=0.1.2
Name=PySetWacom
Comment=A GUI utility for configuring buttons on graphics tablets and styli
Exec=PySetWacom
Icon=input-tablet
Terminal=false
Type=Application
Categories=Utility;Application;
